.menu {
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 28px;
}

.menu__item {
  color: var(--color-menu-inactive);
  height: 100%;
  font-size: 14px;
  line-height: 16px;
}

.menu__item_active {
  color: var(--color-menu-active);
  border-bottom: 2px solid rgb(255, 255, 255);
}


