// src/components/App/App.style.scss
@import '../../sass/sass_variables';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; // Убирает полосы прокрутки
}

button {
  color: inherit;
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-outer);
  color: var(--color-primary);
  font-family: var(--font-family-main);
  font-weight: 400;
}
