.table {
  position: relative;
  width: 100%;
  background-color: var(--color-bg-inner);
  font-size: 14px;
  line-height: 130%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden; 
}

.table__container {
  max-height: 84vh; 
  overflow: auto; 
}

.table__content {
  width: 100%;
  table-layout: fixed; 
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  height: 42px;
  z-index: 10;
  background-color: var(--color-bg-inner);
}

.table th,
.table__column {
  color: var(--color-secondary);
  padding: 12px;
  text-align: left;
  overflow: hidden; /* Это предотвратит выход текста за границы ячеек */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td {
  color: var(--color-primary);
}

.table tr {
  display: grid;
  grid-template-columns: 110px 1fr repeat(4, 200px);
  align-items: center;
  width: 100%; /* Убедимся, что строки занимают всю ширину таблицы */
  border-bottom: 1px solid var(--color-border);
}

tbody tr {
  height: 60px;
}

.table__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 12px 14px;
  border-bottom: 1px solid var(--color-border);
  height: 44px;
}

.table__input {
  width: 100%;
  color: var(--color-row-edit);
  border: none;
  border-radius: 6px;
  background: var(--color-bg-row-edit);
  outline: none;
}

.table_edit {
  border: 1px solid var(--color-border);
}

.table__node {
  position: relative;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  // padding-left: 10px;
  cursor: url("../../assets/icons/cursor_hand.svg") 6 6, auto;
}

.table__nodeIcon {
  position: relative;
  width: 16px;
  height: 16px;
  left: 8px;
  z-index: 1;
}

.table__nodeIconDelete {
  display: none;
  margin-left: 8px;
}

.table__nodeIconDelete_forbidden {
  visibility: hidden;
}

.table__nodeIconBg {
  position: absolute;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 7px 3px 7px;
  border-radius: 6px;
  background: var(--color-bg-nodeIcon);
  width: 54px;
  height: 28px;
  z-index: 0;
  display: none;
}

.table__node:hover .table__nodeIconBg {
  display: flex;
}

.table__node:hover .table__nodeIconDelete {
  display: block;
}

.table__line {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid rgb(198, 198, 198);
}

.table__line_connect {
  width: 10px;
  left: -2px;
}

.table__line_toChildren {
  top: 38px;
  left: 16px;
}

.table__line_toParent {
  height: 40px;
  bottom: 29px;
  left: -4px;
}

.table__line_bottom {
}
