.asideMenuItem {
  display: flex;
  padding: 5px 20px;
  align-items: center;
  width: 100%;
}

.asideMenuItem_active {
  color: var(--color-menu-active);
  background: var(--color-menu-inactive);
}

.asideMenuItem__icon {
  width: 22px;
  height: 22px;
}

.asideMenuItem__text {
  margin-left: 14px;
}
